<div class="credits">
  <p class="container m-v-0">
    Designed and coded
    <span class="nowrap">with <span role="img" aria-label="love" title="love">❤️</span></span>
    <span class="nowrap"
      >by
      <a href="https://twitter.com/aarongarciah" target="_blank" rel="noopener"
        >@aarongarciah</a
      ></span
    >. Take a look at the
    <a href="https://github.com/AlicanteFrontend/vueday.org" target="_blank" rel="noopener">
      source code</a
    >.
  </p>
</div>
