<picture class="harbor bb">
  <img
    sizes="(max-width: 1600px) 100vw, 1600px"
    srcset="
    static/alicante-port_w_320.jpg 320w,
    static/alicante-port_w_659.jpg 659w,
    static/alicante-port_w_913.jpg 913w,
    static/alicante-port_w_1130.jpg 1130w,
    static/alicante-port_w_1600.jpg 1600w"
    src="static/alicante-port_w_1600.jpg"
    alt="View of the port of Alicante from the venue"
  >
</picture>
