<section id="intro" class="hero pt-header-height bb">
  <div class="container hero__inner">
    <div class="hero__box">
      <p>
        The 2nd edition of <strong class="nowrap">Vue Day</strong> is here: a full day to learn
        about your favorite framework from local, national and international speakers.
      </p>
      <p>
        See you on <strong>Friday May 31</strong> at the Panoramis Cinema, in the beautiful
        <strong>Port of Alicante</strong>.
      </p>

      <p>
        Follow us at
        <a class="link-highlight" href="{{ social.twitter.url }}" target="_blank" rel="noopener"
          ><strong>{{ social.twitter.handle }}</strong></a
        >
        to keep up with the latest news. If you have any doubts take a look at our
        <a class="link-highlight" href="#faq">FAQ</a> section or
        <a class="link-highlight" href="mailto:{{ social.email }}" target="_blank" rel="noopener"
          ><span class="nowrap">let's talk <span aria-hidden="true">✉️</span></span></a
        >
      </p>
      <p class="hero__alicantefront">
        by
        <a href="{{ alicanteFrontend.url }}" target="_blank" rel="noopener"
          ><img src="static/alicante-frontend-logo.svg" alt="Alicante Frontend logo"
        /></a>
      </p>
    </div>
  </div>
</section>
