<li class="slot" id="{{slot_id}}">
  <time class="slot__time">
    <span class="slot__dot"></span>
    <strong>{{slot.time}}</strong>
  </time>

  <div>
    <h4 class="slot__name">{{slot.name}}</h4>

    {% if slot.speaker %}
      {% if speakers[slot.speaker] %}
        <p class="slot__speaker">{{speakers[slot.speaker].name}}</p>
      {% endif %}
    {% endif %}

    {% if slot.description %}
      <div class="slot__description">
        {% for desc in slot.description %}
          <p>{{desc}}</p>
        {% endfor %}

      </div>
    {% endif %}
  </div>
</li>
