<article class="speaker" id="{{speaker.id}}">
  <img class="speaker__photo" src="{{speaker.picture}}" alt="{{speaker.name}} profile picture" aria-hidden="true">
  <div class="speaker__inner">
    <h3 class="speaker__name">{{speaker.name}}</h3>
    {% if speaker.description %}
    <p class="speaker__desc">{{speaker.description}}</p>
    {% endif %}

    <ul class="speaker__social">
      {% if speaker.links.twitter %}
        <li>
          <a href="{{speaker.links.twitter}}" target="_blank" rel="noopener" title="Open {{speaker.name}} Twitter profile">
            {{ macros.icon_inline('icon-twitter') }}
          </a>
        </li>
      {% endif %}
      {% if speaker.links.github %}
        <li>
          <a href="{{speaker.links.github}}" target="_blank" rel="noopener" title="Open {{speaker.name}} GitHub profile">
            {{ macros.icon_inline('icon-github') }}
          </a>
        </li>
      {% endif %}
      {% if speaker.links.website %}
        <li>
          <a href="{{speaker.links.website}}" target="_blank" rel="noopener" title="Open {{speaker.name}} website">
            {{ macros.icon_inline('icon-link') }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</article>
