.m-0 {
  margin: 0;
}

.m-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.pt-header-height {
  padding-top: var(--header-h);
  padding-top: calc(var(--header-h) + var(--spacing));
}

.pb-header-height {
  padding-bottom: var(--header-h);
  padding-bottom: calc(var(--header-h) + var(--spacing));
}
