.credits {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
  font-size: var(--font-size-m);
  text-align: center;
  color: var(--white);
  background-color: var(--grey);

  a {
    color: var(--white);
  }
}
