:root {
  --green: #{$green};
  --green-dark: #{$green-dark};
  --grey: #{$grey};
  --grey-light: #{$grey-light};
  --white: #{$white};
  --black: #{$black};
  --yellow: #{$yellow};
  --border-color: #{$border-color};

  --spacing: #{$spacing-unit};
  --spacing-s: var(--spacing);
  --spacing-m: calc(var(--spacing) * 2);
  --spacing-l: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 4);
  --spacing-xxl: calc(var(--spacing) * 5);
  --spacing-xxxl: calc(var(--spacing) * 8);
  --spacing-sides: var(--spacing-l);

  --font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-special: 'Dosis';

  --font-size-s: 1.6rem;
  --font-size-m: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.4rem;

  --header-h: 5.6rem;
  --container-w: 140rem;
  --container-w-narrow: 80rem;

  --border-w-s: #{$spacing-unit / 4};
  --border-w: #{$spacing-unit / 2};
  --border-w-large: #{$spacing-unit};

  --rotation-s: -2deg;
  --rotation-m: -3deg;

  --easing: 0.175s ease-in-out;

  --shadow: var(--border-w) var(--border-w) var(--black);

  @include mq(phablet) {
    --font-size-xl: 2.4rem;
    --font-size-xxl: 2.8rem;
  }

  @include mq(tablet) {
    --header-h: 6.4rem;
    --font-size-xl: 2.8rem;
    --font-size-xxl: 3.2rem;
  }
}
