{% extends "html/templates/default.njk" %}

{% block documentTitle %}Code of Conduct | Vue Day 2019 | May 31 in Alicante | Brought to you by Alicante Frontend{% endblock %}

{% block content %}
  <div class="coc container container--narrow">
    <h1>Code of conduct</h1>

    <h2><span>1.</span> Purpose</h2>

    <p>
      <strong>Vue Day</strong> is a non-profit conference organized by
      <a href="{{alicanteFrontend.url}}" target="_blank" rel="noopener">Alicante Frontend</a>.
    </p>
    <p>
      The purpose of this conference is to share knowledge and disseminate about web development,
      especially everything related to
      <a href="https://vuejs.org/" target="_blank" rel="noopener">Vue.js</a>.
    </p>
    <p>
      A primary objective of this conference is to be inclusive with the largest number of
      collaborators, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic
      conditions and religion (or lack of it).
    </p>

    <p>
      This code of conduct outlines our expectations for all those who participate in this event,
      as well as the consequences of unacceptable behavior.
    </p>

    <p>
      We invite all those who participate in Vue Day to help us create a safe and positive
      experience for all.
    </p>

    <h2><span>2.</span> Civics in open source</h2>

    <p>
      A complementary goal of this code of conduct is to increase citizenship in the open source
      community, encouraging participants to recognize and strengthen the relationships between
      our actions and their effects in our community.
    </p>

    <p>
      The topics within the community are related to the field of frontend development and the IT
      sector, if one or a member of the community could feel violent because of a topic that has
      nothing to do with the development or the sector of the computer science, and asked to
      redirect the conversation, would return to the subjects planned in the agenda of the day.
      Only the #random channel of Slack will be used for more transversal topics and always
      complying with the rest of the points of this code.
    </p>

    <p>
      Active or passive participation in group activities are optional and do not entail
      obligation.
    </p>

    <p>
      Any person who decides to speak, may do so provided that he / she is respecting the opinions
      of others and complying with the rest of the points of this code of conduct.
    </p>

    <p>
      If you see someone who is making a major effort to help make our community welcoming,
      friendly and encourage all participants to contribute the most, we want to know.
    </p>

    <h2><span>3.</span> Expected behavior</h2>

    <p>The following behaviors are expected and requested by all the members of the community:</p>

    <ul>
      <li>
        Participate in an authentic and active way. By doing so, it contributes to the health and
        longevity of this community.
      </li>
      <li>Show consideration and respect in your speech and actions.</li>
      <li>Try to collaborate before entering into conflict.</li>
      <li>Do not behave or speak in a degrading, discriminatory or harassing manner.</li>
      <li>
        Keep in mind the environment and the other participants. Alert community leaders if they
        perceive a dangerous situation, suffering or anguish in any person, or violations of this
        code of conduct, even if they seem inconsequential.
      </li>
      <li>
        Remember that the facilities in which an event of this community is held can be shared
        with more people; please remember to be respectful with all users of these facilities.
      </li>
    </ul>

    <h2><span>4.</span> Unacceptable behavior</h2>

    <p>
      The following behaviors are considered harassment and are unacceptable within our community:
    </p>

    <ul>
      <li>Violence, threats of violence or violent language directed against another person.</li>
      <li>
        Jokes and language sexist, racist, homophobic, transphobic, capacitist or discriminatory
        in any way.
      </li>
      <li>Publish or exhibit violent or sexually explicit material.</li>
      <li>
        Publish or threaten to publish data identifying other people (<a
          href="https://en.wikipedia.org/wiki/Doxing"
          target="_blank"
          rel="noopener">
          <em>doxing</em>
        </a>).
      </li>
      <li>
        Personal insults, particularly those related to gender, sexual orientation, race, religion
        or disability.
      </li>
      <li>Photograph or inappropriate recording.</li>
      <li>
        Inappropriate physical contact. Make sure you have someone's consent before touching him.
      </li>
      <li>
        Unwanted sexual attention. Including sexualized comments or jokes, inappropriate physical
        contact (which also includes sexual groping or touching) and unwelcome sexual advances.
      </li>
      <li>Deliberate intimidation, stalking or persecution (online or in person).</li>
      <li>Contemplation continued unwanted or inappropriate.</li>
      <li>Defend or encourage any of the above behaviors.</li>
      <li>Continuously disrupting community events, including talks and presentations.</li>
    </ul>

    <h2><span>5.</span> Consequences of unacceptable behavior</h2>

    <p>
      These unacceptable behaviors will not be tolerated in any participant of the event including
      assistants, sponsors, volunteers or personnel of the organization.
    </p>

    <p>
      The measures that will be taken for an infraction will depend on the context. They may be:
    </p>

    <ul>
      <li>Expulsion of the offender from the community for a serious infraction.</li>
      <li>Expulsion of the offender from the community for the recurrence of infractions.</li>
      <li>Notice for infringement and apology request to the community.</li>
      <li>Notice for minor infringement.</li>
    </ul>

    <h2><span>6.</span> Guidelines for making a complaint</h2>

    <p>
      If you are a victim or witness of unacceptable behavior, or have any other concerns, please
      notify a community organizer.
    </p>

    <p>
      When contacting, indicate the name of the event and in which part of the facility the
      violation of the code of conduct is occurring, and briefly explain the nature of the
      incident.
    </p>

    <p>
      Community organizers will facilitate contact by community members with local authorities and
      will help, in any other way, those who are victims of unacceptable behavior, to feel safe.
    </p>

    <h2><span>7.</span> How to appeal complaints</h2>

    <p>
      If you believe that you have been falsely or unjustly accused of violating this code of
      conduct, you must notify the community organizers, with a concise description of your
      complaint. This will be managed in accordance with our current policies.
    </p>

    <h2><span>8.</span> Scope</h2>

    <p>
      We hope that all members of the community (partners as well as attendees of the
      association's events, sponsors, volunteers or staff of the organization) comply with this
      code of conduct in all areas of the community -real and virtual-, as well as in all personal
      communications related to community matters.
    </p>

    <p>
      This code of conduct and its related procedures also apply to unacceptable behaviors that
      occur outside the scope of community activities when such behavior may affect the safety and
      well-being of community members.
    </p>

    <h2><span>9.</span> Contact information</h2>

    <ul>
      <li>
        Email <a href="mailto:{{social.email}}" target="_blank" rel="noopener">{{social.email}}</a>
      </li>
      <li>
        Twitter <a href="{{social.twitter.url}}" target="_blank" rel="noopener">{{social.twitter.handle}}</a>
      </li>
    </ul>

    <h2><span>10.</span> License and attribution</h2>

    <p>
    This code of conduct is distributed under a
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="noopener"
      >Creative Commons Attribution-ShareAlike license</a
    >.
  </p>
  </div>
{% endblock %}
